@charset "UTF-8";

/* ----- FUNDO ----- */
body{
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* ----- CONTAINER PRINCIPAL ----- */
main.principal{
    background-color: rgba(0, 0, 0, 0.668);
    border-radius: 10px;
    width: 1050px;              /* mantém o tamanho original */
    padding: 10px;
    margin: 10px auto;          /* CENTRALIZA */
    border: solid #ffffff;
    box-sizing: border-box;
    transform: scale(0.79);
    transform-origin: top center;
}
/* ----- RESPONSIVIDADE REAL ----- */
@media screen and (max-width: 800px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto;
        padding: 30px;
        width: 800px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 100%;
        height: 400px;
    }

}
/* ----- RESPONSIVIDADE REAL ----- */
@media screen and (max-width: 720px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto auto -30px;
        padding: 30px;
        width: 450px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 100%;
        height: 230px;
    }
}
@media screen and (max-width: 600px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto auto -30px;
        padding: 30px;
        width: 470px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 100%;
        height: 230px;
    }

}
@media screen and (max-width: 400px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto auto -45px;
        padding: 30px;
        width: 480px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 100%;
        height: 230px;
    }

}
@media screen and (max-width: 370px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto auto -40px;
        padding: 30px;
        width: 440px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 100%;
        height: 230px;
    }

}
@media screen and (max-width: 350px){

    main.principal{
        width: 100%;             /* adapta mas sem mudar o visual */
        max-width: 1000px;       /* igual ao que você usava */
        margin:10px auto auto -40px;
        padding: 0px;
        width: 400px;
        transform: scale(0.8);
        

    }

    iframe{
        width: 350px;
        height: 230px;
    }

}


/* ----- SEU VISUAL ORIGINAL ----- */
h1{
    color: aliceblue;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 50px;
}
.pfp2{
    width:260px;
    display:block;
    margin:0 auto;
    border-radius:200px;
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%)
}

.pfp{
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 1000px;
}

.icons{
    width: 100px;
}

.icons2{
    width: 80px;
}

h2{
    color: #ff77c9;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

p{
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

iframe{
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

/* ----- EFEITOS ----- */

.zoom{
    transition: transform 0.3s ease;
}

.zoom:hover{
    transform: scale(1.1);
}
.zoom2{
    transition: transform 0.3s ease;
}

.zoom2:hover{
    transform: scale(0.8);
}


.glow{
    color: #fff;
    transition: text-shadow 0.3s ease;
    text-shadow:
      0 0 8px rgb(0, 0, 0),
      0 0 8px rgb(255, 255, 255);
}

.glow:hover{
    text-shadow:
      0 0 8px rgb(0, 0, 0),
      0 0 16px rgb(255, 255, 255),
      0 0 32px rgb(255, 255, 255),
      0 0 48px rgb(255, 255, 255);
}
h2:hover{
    color: white;
}

